<%= form_for(outfit) do |form| %>
  <%- @clothing_items.each do |item| %>
    <div class="clothing-item">
      <%= form.label item.name %>
      <%= form.check_box("outfit_clothing_items", { multiple: true }, item.id, nil) %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
