<p id="notice"><%= notice %></p>

<p>
  <strong>Clothing Categories:</strong>
  <%- @outfit.clothing_categories.map do |category| %>
    <%= category.name %>
  <% end %>
</p>

<%= link_to 'Back', outfits_path %>
